:root {
  font-family: "Poppins", "Arial", sans-serif !important;
  font-size: medium;



  .MuiTableHead-root {
    background-color: #F8F8F8 !important;
  }

  .css-5ilu4b-MuiTableCell-root {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid var(--mui-palette-TableCell-border);
    text-align: left;
    padding: 16px;
    color: var(--mui-palette-text-primary);
    line-height: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
  }

  .MuiTextField-root {
    background-color: #F8F8F8 !important;
  }


  .css-1rl3ew7-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 2px 0 2px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.3em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding-top: 1px;
    padding: 6.5px 7px;
  }



  .css-laj7or-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    height: 1em;
    min-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
    padding-bottom: 15px;
  }


  .css-6ary1h-MuiButtonBase-root-MuiMenuItem-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5;
    min-height: 48px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 16px;
    padding-right: 16px;
  }

  .css-8rw8wk-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px;
  }

}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F8F8F8 !important;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.loader {
  width: 50px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#0B265D 0%, #0B265D 50%, #0B265D 100%);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: l6 1s infinite linear;
}

@keyframes l6 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 100% !important;
  }
}